*{
    font-family: "Bebas Neue", serif;
}

.sfondo{
    background-image: linear-gradient(rgba(23,23,23,0.6), rgba(23,23,23,0.8)), url('/media/motta.webp');
    background-size: cover;
    height: 100vh;

}

.titoloh1{
    font-size: 130px;
    text-shadow: 4px 4px 8px black;
    color: white;
}

.logo{
    width: 60px;
}

.trofeoLogo{
    height: 90px;
}

.sfondoSala{
    background-image: linear-gradient(rgba(23,23,23,0.6), rgba(23,23,23,0.8)), url('/media/sala.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.sfondoStadium{
    background-image: linear-gradient(rgba(23,23,23,0.6), rgba(23,23,23,0.8)), url('/media/stadium.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fotoPlayer{
    height: 400px;
    transition: 0.5s;
}

.fotoPlayer:hover{
    transform: scale(1.1);
    cursor: pointer;
}